th, tr, td {
    border: 3px solid #30363D;
}

th {
    font-size: 28px;
    font-weight: bold;
    padding: 32px;
    color: #58A6FF;
}

td {
    font-size: 20px;
    padding: 16px;
    text-align: center;
    overflow-wrap: break-word;
    max-width: 600px;
    height: auto;
}

table {
    border-collapse: collapse;
    margin-bottom: 144px;
    width: 100%;
}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.module-back-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 96px;
}

.module-back-button {
    font-size: 32px;
    border: 1px solid #E6EDF3;
    border-radius: 6px;
    padding: 12px;
    font-weight: bold;
    transition: 0.3s;
    text-align: center;
}

.module-back-button:hover {
    background-color: #E6EDF3;
    color: #0D1117; 
}

.module-back-button:active {
    opacity: 0.5;
}

.file-img {
    height: 40px;
}

.form-container {
    display: flex;
}

.file-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 120px;
    margin-bottom: 16px;
}

.submit-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
}

form {
    border: 3px solid #30363D;
    padding: 32px;
    border-radius: 6px;
    margin-bottom: 96px;
}

input[type="text"] {
    width: 280px;
    background-color: #0D1117;
    border: 3px solid #E6EDF3;
    border-radius: 6px;
    font-size: 20px;
    color: #E6EDF3;
}

input[type="text"]:focus {
    border: 3px solid #58A6FF;
    outline: none;
}

input[type="checkbox"] {
    margin-left: 0;
    accent-color: #58A6FF;
}

input[type="file"] {
    width: 288px;
}

::file-selector-button, input[type="submit"] {
  border: 3px solid #E6EDF3;
  padding: 6px;
  border-radius: 6px;
  background-color: #0D1117;
  color: #E6EDF3;
  font-weight: bold;
  transition: 0.3s;
}

::file-selector-button:hover, input[type="submit"]:hover {
    cursor: pointer;
    background-color: #E6EDF3;
    color: #0D1117;
}

input[type="submit"] {
    font-size: 20px;
}

select {
    width: 288px;
    background-color: #0D1117;
    border: 3px solid #E6EDF3;
    border-radius: 6px;
    font-size: 20px;
    color: #E6EDF3;
}

select:focus {
    border: 3px solid #58A6FF;
    outline: none;
}

label {
    font-size: 24px;
    font-weight: bold;
}

.checkbox-label {
    display: inline-block;
}

.delete-button {
    font-size: 20px;
    border: 3px solid #E6EDF3;
    border-radius: 6px;
    padding: 12px;
    font-weight: bold;
    transition: 0.3s;
}

.delete-button:hover {
    background-color: #E6EDF3;
    color: #0D1117;
}

.delete-button:active {
    opacity: 0.5;
}