.module-container-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    justify-content: space-between;
    margin-top: 144px;
    margin-bottom: 144px;
}

.module-container {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    border: 3px solid #30363D;
    border-radius: 6px;
    padding: 64px;
    transition: 0.3s;
}

.module-container:hover {
    background-color: #30363D;
    opacity: 0.7;
}

.module-container:active {
    opacity: 0.4;
}

.back-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 144px;
}

.back-button {
    font-size: 32px;
    border: 1px solid #E6EDF3;
    border-radius: 6px;
    padding: 12px;
    font-weight: bold;
    transition: 0.3s;
    text-align: center;
}

.back-button:hover {
    background-color: #E6EDF3;
    color: #0D1117; 
}

.back-button:active {
    opacity: 0.5;
}

/* .blue-highlight {
    color: #58A6FF;
} */