.year-container-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    justify-content: space-between;
    margin-top: 48px;
    margin-bottom: 96px;
}

.year-container {
    border: 3px solid #30363D;
    border-radius: 6px;
    padding: 32px;
    transition: 0.3s;
}

.year-title {
    display: block;
    font-size: 28px;
    margin-bottom: 16px;
    color: #58A6FF;
    font-weight: bold;
}

.year-description {
    font-size: 24px;
    line-height: 48px;
    font-style: italic;
}

.year-container:hover {
    background-color: #30363D;
    opacity: 0.7;
}

.year-container:active {
    opacity: 0.4;
}